.header{
    position: sticky;
    top: 0;
    display: flex;
    justify-content: space-evenly;
    border-bottom: 0.1px solid lightgrey;
    padding: 10px 0;
    width: 100%;
    z-index: 999;

    .left{
        display: flex;

        .search{
            padding:10px;
            display: flex;
            align-items:center;
            border-radius:5px;
            height: 22px;
            color:gray;
            background-color: #eef3f8;

            input{
                border:none;
                outline:none;
                background:none;
            }

        }

        img{
            object-fit: contain;
            height: 40px;
            margin-right: 10px;
        }
    }
    .right{
        display:flex;
    }
}

@media screen and (max-width: 1024px){
    .search{
        width: 50%;
    }
}
@media screen and (max-width: 650px) {
    .search {
        input{
            display: none;
        }
    }
  }
