.login{
    
    display: flex;
    flex-direction: column;
    align-items: center;
    .logo{
        align-self: start;
        margin: 32px 32px 16px;
        cursor: pointer;
    }
    form{
        width: 352px;
        box-shadow: 0 14px 28px rgba(0,0,0,0.08), 
        0 10px 10px rgba(0,0,0,0.08);
    padding: 24px;
    border-radius: 8px;
    margin: 0 auto;
    background: #fff;

    display: flex;
    flex-direction: column;
        input{
        height: 36px;
        font-size: 18px;
        line-height: 1.34;
        font-weight: 400;
        color:rgba(0,0,0,0.9);
        margin-top: 24px;
        background-color: #fff;
        border-radius: 10px;
        border: 1px solid #000;
        transition: 0.5s;
            &:focus{
            outline: none;
            border: 2px solid #00bcd4;
            }
        }
        h1{
        font-size: 32px;
        line-height: 1.25;
        font-weight: 600;
        color:rgba(0,0,0,0.9);
        padding: 0 0 4px 0 ;
        }
        p{
        font-size: 14px;
        line-height: 1.5;
        font-weight: 400;
        color:rgba(0,0,0,0.9);
        
        }
        button{
            flex:1;
            height: 52px;
            line-height: 52px;
            color: #fff;
            cursor: pointer;
            background-color: #0073b1;
            font-size: 16px;
            font-weight: 600;
            border-radius: 28px;
            text-align: center;
            text-decoration: none;
            transition-duration: 167ms;
            margin-top: 24px;
        }
    }
    p{
        line-height: 1.5;
        font-weight: 400;
        color: rgba(0,0,0,0.9);
        margin-top: 24px;

        .register{
            padding: 0 8px;
            color: #0a66c2;
            text-decoration: none;
            cursor: pointer;
            &:hover{
                text-decoration: underline;
                
            }
        }
    }
    .footer{
        display: flex;
        justify-content: space-around;
        align-items: center;
        width: 1128px;
        min-height: 72px;
        margin:auto;
        a{
            line-height: 1.5;
            font-weight: 400;
            color: rgba(0,0,0,0.9);
            cursor: pointer;
            text-decoration: none;
            &:hover{
                text-decoration: underline;
            }
        }
    }
}

@media screen and (max-width:1130px){

 .login{
     .footer{
         display: none;
     }
 }
    
}

@media screen and (max-width:420px){
    .login{
        form{
            width: 100%;
        }
    }
}